form.hnarac {
    margin: 0;
    padding: 0;
    color: #000000;
}

form.hnarac>fieldset {
    background-color: #FFFFFF;
    clear: both;
    min-width: inherit;
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #EEEEEE;
    border-radius: 0px;
}

form.hnarac>fieldset>legend {
    background-color: #EEEEEE;
    color: #000000;
    border-radius: 0px;
    line-height: 1;
    cursor: default;
    margin: 0 8px;
    padding: 8px;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
}

form.hnarac em {
    color: #ff0000;
    font-weight: bold;
}

form.hnarac>fieldset>ol {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

form.hnarac>fieldset>ol>li {
    padding: 7px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

form.hnarac>fieldset>ol>li>label {
    font-weight: bold;
    min-width: 150px;
    white-space: nowrap;
    margin-left: 350px;
}

form.hnarac>fieldset>ol.narrowest>li>label {
    min-width: 130px;
}

form.hnarac>fieldset>ol.narrower>li>label {
    min-width: 150px;
}

form.hnarac>fieldset>ol.narrow>li>label {
    min-width: 170px;
}

form.hnarac>fieldset>ol.wide>li>label {
    min-width: 190px;
}

form.hnarac>fieldset>ol.wider>li>label {
    min-width: 220px;
}

form.hnarac>fieldset>ol.widest>li>label {
    min-width: 250px;
}

form.hnarac>fieldset>ol>li input[type=number],
form.hnarac>fieldset>ol>li input[type=text],
form.hnarac>fieldset>ol>li textarea,
form.hnarac>fieldset>ol>li select {
    padding: 6px;
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.08);
    border: 1px solid #aaaaaa;
    margin: 0 5px;
}

form.hnarac>fieldset>ol>li input[type=checkbox],
form.hnarac>fieldset>ol>li label {
    cursor: pointer;
}

form.hnarac>fieldset>ol>li input[type=number] {
    -moz-appearance: textfield;
}

form.hnarac>fieldset>ol>li input[type=number]::-webkit-inner-spin-button,
form.hnarac>fieldset>ol>li input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

form.hnarac>fieldset>ol>li {
    cursor: pointer;
    max-width: 100%;
}


/*-----------------------------10.sınıf taktir teşekkür hesaplama input boyutları------------------------------------------------*/

input[type=number] {
    width: 175px;
    height: 35px;
    text-align: center;
}

input:focus {
    outline: 2;
    outline-color: #00bcd4;
}

input[type=button] {
    background-color: #00bcd4;
    color: #ffffff;
    width: 120px;
    height: 40px;
    border-radius: 6px;
    border: transparent;
    cursor: pointer;
    float: right;
}

input[type=reset] {
    background-color: rgb(228, 154, 154);
    color: #ffffff;
    width: 120px;
    height: 40px;
    float: left;
    border-radius: 6px;
    border: transparent;
    cursor: pointer;
    margin-left: 1px;
}

ol {
    background-color: rgb(77, 75, 75);
    color: #fff;
}

div#txt {
    background-color: rgb(255, 255, 255);
    color: #000;
    width: 175px;
    height: 65px;
    margin-left: 5px;
    text-align: center;
    cursor: none;
    margin-bottom: 5px;
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.08);
}

div#ortalama {
    background-color: rgb(255, 255, 255);
    color: #000;
    width: 175px;
    height: 38px;
    margin-left: 5px;
    text-align: center;
    cursor: none;
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.08);
}

@media(max-width:460px) {
    form.hnarac>fieldset>ol>li input[type=number],
    form.hnarac>fieldset>ol>li input[type=text],
    form.hnarac>fieldset>ol>li textarea,
    form.hnarac>fieldset>ol>li select {
        margin-left: -15px;
    }
    input[type=number] {
        width: 155px;
        height: 35px;
        text-align: center;
    }
    div#ortalama {
        width: 155px;
        margin-left: 134px;
    }
    div#txt {
        width: 155px;
        margin-left: 134px;
    }
}

@media(max-width:421px) {
    form.hnarac>fieldset>ol>li input[type=number],
    form.hnarac>fieldset>ol>li input[type=text],
    form.hnarac>fieldset>ol>li textarea,
    form.hnarac>fieldset>ol>li select {
        margin-left: -25px;
    }
    input[type=number] {
        width: 145px;
        height: 35px;
        text-align: center;
    }
    div#ortalama {
        width: 145px;
        margin-left: 124px;
    }
    div#txt {
        width: 145px;
        margin-left: 124px;
    }
}

@media(max-width:401px) {
    form.hnarac>fieldset>ol>li input[type=number],
    form.hnarac>fieldset>ol>li input[type=text],
    form.hnarac>fieldset>ol>li textarea,
    form.hnarac>fieldset>ol>li select {
        margin-left: -32px;
    }
    input[type=number] {
        width: 140px;
        height: 35px;
        text-align: center;
    }
    div#ortalama {
        width: 140px;
        margin-left: 117px;
    }
    div#txt {
        width: 140px;
        height: 75px;
        margin-left: 117px;
    }
}

@media(max-width:389px) {
    form.hnarac>fieldset>ol>li input[type=number],
    form.hnarac>fieldset>ol>li input[type=text],
    form.hnarac>fieldset>ol>li textarea,
    form.hnarac>fieldset>ol>li select {
        margin-left: -32px;
    }
    input[type=number] {
        width: 125px;
        height: 35px;
        text-align: center;
    }
    div#ortalama {
        width: 125px;
        margin-left: 117px;
    }
    div#txt {
        width: 125px;
        height: 98px;
        margin-left: 117px;
    }
}

@media(max-width:374px) {
    form.hnarac>fieldset>ol>li input[type=number],
    form.hnarac>fieldset>ol>li input[type=text],
    form.hnarac>fieldset>ol>li textarea,
    form.hnarac>fieldset>ol>li select {
        margin-left: -32px;
    }
    input[type=number] {
        width: 110px;
        height: 35px;
        text-align: center;
    }
    div#ortalama {
        width: 110px;
        margin-left: 117px;
    }
    div#txt {
        width: 110px;
        height: 98px;
        margin-left: 117px;
    }
}

@media(max-width:361px) {
    form.hnarac>fieldset>ol>li input[type=number],
    form.hnarac>fieldset>ol>li input[type=text],
    form.hnarac>fieldset>ol>li textarea,
    form.hnarac>fieldset>ol>li select {
        margin-left: -48px;
    }
    input[type=number] {
        width: 100px;
        height: 35px;
        text-align: center;
    }
    div#ortalama {
        width: 100px;
        margin-left: 100px;
    }
    div#txt {
        width: 100px;
        height: 107px;
        margin-left: 100px;
    }
    input[type=button] {
        background-color: #00bcd4;
        color: #ffffff;
        width: 110px;
        height: 40px;
        border-radius: 6px;
        border: transparent;
        cursor: pointer;
        float: right;
    }
    input[type=reset] {
        background-color: rgb(228, 154, 154);
        color: #ffffff;
        width: 110px;
        height: 40px;
        float: left;
        border-radius: 6px;
        border: transparent;
        cursor: pointer;
        margin-left: 1px;
    }
}

@media(max-width:333px) {
    form.hnarac>fieldset>ol>li input[type=number],
    form.hnarac>fieldset>ol>li input[type=text],
    form.hnarac>fieldset>ol>li textarea,
    form.hnarac>fieldset>ol>li select {
        margin-left: -48px;
    }
    input[type=number] {
        width: 85px;
        height: 35px;
        text-align: center;
    }
    div#ortalama {
        width: 85px;
        margin-left: 100px;
    }
    div#txt {
        width: 85px;
        height: 107px;
        margin-left: 100px;
    }
    input[type=button] {
        background-color: #00bcd4;
        color: #ffffff;
        width: 100px;
        height: 40px;
        border-radius: 6px;
        border: transparent;
        cursor: pointer;
        float: right;
    }
    input[type=reset] {
        background-color: rgb(228, 154, 154);
        color: #ffffff;
        width: 100px;
        height: 40px;
        float: left;
        border-radius: 6px;
        border: transparent;
        cursor: pointer;
        margin-left: 1px;
    }
}

@media(max-width:318px) {
    form.hnarac>fieldset>ol>li input[type=number],
    form.hnarac>fieldset>ol>li input[type=text],
    form.hnarac>fieldset>ol>li textarea,
    form.hnarac>fieldset>ol>li select {
        margin-left: -48px;
    }
    input[type=number] {
        width: 80px;
        height: 35px;
        text-align: center;
    }
    div#ortalama {
        width: 80px;
        margin-left: 100px;
    }
    div#txt {
        width: 80px;
        height: 107px;
        margin-left: 100px;
    }
}