form.hnarac {
    margin: 0;
    padding: 0;
    color: #000000;
}

form.hnarac>fieldset {
    background-color: #FFFFFF;
    clear: both;
    min-width: inherit;
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #EEEEEE;
    border-radius: 0px;
}

form.hnarac>fieldset>legend {
    background-color: #EEEEEE;
    color: #000000;
    border-radius: 0px;
    line-height: 1;
    cursor: default;
    margin: 0 8px;
    padding: 8px;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
}

form.hnarac em {
    color: #ff0000;
    font-weight: bold;
}

form.hnarac>fieldset>ol {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

form.hnarac>fieldset>ol>li {
    padding: 7px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

form.hnarac>fieldset>ol>li>label {
    font-weight: bold;
    min-width: 150px;
    white-space: nowrap;
    cursor: auto;
    margin-left: 350px;
}

form.hnarac>fieldset>ol.narrowest>li>label {
    min-width: 130px;
}

form.hnarac>fieldset>ol.narrower>li>label {
    min-width: 150px;
}

form.hnarac>fieldset>ol.narrow>li>label {
    min-width: 170px;
}

form.hnarac>fieldset>ol.wide>li>label {
    min-width: 190px;
}

form.hnarac>fieldset>ol.wider>li>label {
    min-width: 220px;
}

form.hnarac>fieldset>ol.widest>li>label {
    min-width: 250px;
}

form.hnarac>fieldset>ol>li input[type=number],
form.hnarac>fieldset>ol>li input[type=text],
form.hnarac>fieldset>ol>li textarea,
form.hnarac>fieldset>ol>li select {
    padding: 6px;
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.08);
    border: 1px solid #aaaaaa;
    margin: 0 5px;
}

form.hnarac>fieldset>ol>li input[type=checkbox],
form.hnarac>fieldset>ol>li label {
    cursor: pointer;
}

form.hnarac>fieldset>ol>li input[type=number] {
    -moz-appearance: textfield;
}

form.hnarac>fieldset>ol>li input[type=number]::-webkit-inner-spin-button,
form.hnarac>fieldset>ol>li input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

form.hnarac>fieldset>ol>li {
    cursor: pointer;
    max-width: 100%;
}


/*-----------------------------10.sınıf taktir teşekkür hesaplama input boyutları------------------------------------------------*/

input {
    width: 175px;
    height: 35px;
}

input[type=button] {
    background-color: red;
    color: #ffffff;
    width: 120px;
    height: 40px;
    float: right;
    border-radius: 6px;
    border: white;
    cursor: pointer;
}

input[type=reset] {
    background-color: rgb(153, 221, 204);
    color: #000000;
    width: 120px;
    height: 40px;
    float: left;
    border-radius: 6px;
    border: rgb(7, 7, 7);
    cursor: pointer;
}

ol {
    background-color: rgb(77, 75, 75);
    color: #fff;
}